<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carl Truong</title>



    <!-- Custom Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll grow" href="#page-top">CT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Recommendations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Hi there, it's nice to meet you! You've reached the portfolio of...</div>
                <div class="intro-heading">Carl Truong</div>
                <div class="intro-location">Denver, Colorado, USA</div>
                <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- Services / Skills Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">I love to wear multiple hats. I have a diverse range of skills and I'm not afraid to get my hands dirty.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Full Stack Developer</h4>
                    <p class="text-muted">
                      Ever since college, I acquired a deep love for web application development. My skills include Ruby on Rails,
                      SQLite, PostgreSQL, API integration, Web application architecture, HTML, CSS, Bootstrap,
                      Javascript, JSON, jQuery, and a touch of Angular1.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Entrepreneurship</h4>
                    <p class="text-muted">
                      My passion is working with startups. Whether is creating a startup, raising money, consulting early stage, working in a startup incubator, or simply
                      connecting with the vibrant Denver entrepreneurial scene, I've been there and done it!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Finance</h4>
                    <p class="text-muted">
                      Right out of school, I was a financial underwriter with Cigna corporation. My rookie year, I won 'Best Underwriter
                      of the Year' within my financial division. I specialize in risk analysis including macro and micro variable research.
                    </p>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">
                      The most satisfying part of any project is appreciating all it took before reaching the finish line. I've done project,
                      management for web application development, wireframing, UX design, operations, marketing, and real estate
                      development. 
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Marketing</h4>
                    <p class="text-muted">
                      When it comes to creating phenomenal marketing strategies, I first ensure a solid understanding of the customer 
                      with market research, followed up with identifying the best channels and benchmarking ROIs with key performance indicators.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse grow"></i>
                    </span>
                    <h4 class="service-heading">Real Estate Development</h4>
                    <p class="text-muted">
                      Having helped Chiplotle Corporate build out new stores in Northeast America & Canada, and having helped
                      Custom Caves LLC streamline their home remodeling process, I have experience in both residential and commerical real estate development.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Check out the various web applications I've built!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" class="portfolio-link" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/roundicons.png", class: 'img-responsive' %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>MicroPosts</h4>
                        <p>A simple social media site where users can comment and post.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/blocmetrics.jpg", class: 'img-responsive' %>
                        
                    </a>
                    <div class="portfolio-caption">
                        <h4>Blocmetrics</h4>
                        <p class="text-muted">A simple API used to track metrics and activity on your website.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/blocitoff.jpg", class: 'img-responsive') %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>BlocitOff</h4>
                        <p class="text-muted">A self destructing to-do list, preventing your list from piling up.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/JamSess.jpg", class: 'img-responsive' %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>JamSess (ft. Angular)</h4>
                        <p class="text-muted">Coming Soon!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/escape.png", class: 'img-responsive' %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Chat Room</h4>
                        <p class="text-muted">Coming Soon!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/pong.jpg", class: 'img-responsive' %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pong!</h4>
                        <p class="text-muted">Coming Soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                      I'm a firm believer that you can have your cake and eat it too. But it takes
                      tenancity, drive, ambition, and risk.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("about/carl.jpg", class: 'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strong>Carl Truong</strong></h4>
                                    <h4 class="subheading">A Little About Me</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I've lived in Denver pretty much all my life and I absolutely love it here! My parents deserve the
                                      credit for teaching me how to be tenacious, ambitious, and really work hard for something. I believe
                                      in keeping an open mind and remembering to enjoy life.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/CU.jpg", class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strong>Education</strong></h4>
                                    <h4 class="subheading">Forever Buffs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    I have a BS degree with an emphasis in Marketing and Finance from the University of Colorado, Leeds
                                    School of Business. On the technical side, I went through an intensive coding bootcamp program with
                                    Bloc.io to become a full stack developer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/rocky_mountains.jpg", class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strong>My Hobbies</strong></h4>
                                    <h4 class="subheading">Beware: He Who Has No Hobbies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Taking advantage of the Rocky Mountains, I love snowboarding and hiking. During the summer, I enjoy
                                    playing a some sloshball. That wraps up just in time for an intense fantasy football season in the fall.
                                    You're looking at the 2014 fantasy champion!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/shiba.jpg", class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strong>What's Next</strong></h4>
                                    <h4 class="subheading">Perhaps a Shiba Inu...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I love dogs with a passion and I'm thinking about getting a Shiba Inu. Other than that,
                                      just focusing on making sure we appreciate the people we have in our lives and practicing
                                      my coding skills!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="color:black"><strong>Be Part
                                    <br>Of My
                                    <br>Story!</strong></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Recommendation Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recommendations</h2>
                    <h3 class="section-subheading text-muted">Don't just take my word for it... see what others are saying about me!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/Joel.jpg", class: 'img-responsive img-circle' %>
                        <h4>Joel Bond</h4>
                        <p class="text-muted"><strong>Custom Caves | CEO</strong></p>
                        <p>"Hiring Carl to help improve efficiencies for my residential real estate development company was a no brainer.
                        By first understanding and observing my processes, Carl was able to point out the weak parts of my operations, implement the
                        necessary operational protocols, and improve the bottom line."</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.customcavesco.com"><i class="fa fa-globe"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Custom-Caves-493267374145709"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/jamal.jpg", class: 'img-responsive img-circle' %>
                        <h4>Jamal Ross</h4>
                        <p class="text-muted"><strong>Men's Vitality Center | COO</strong></p>
                        <p>"When we decided to franchise Men's Vitality Center, Carl helped us put together the entire business model including
                        legal, operating systems, technical systems, and even connected us to the best service providers in the industry. We still keep 
                        in touch today for other projects that surface!"</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.mensvitalitycenter.com/"><i class="fa fa-globe"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/mensvitalitycenter/?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/tom.jpg", class: 'img-responsive img-circle' %>
                        <h4>Tom Christy</h4>
                        <p class="text-muted"><strong>Innovation Pavilion | Sr. Advisor</strong></p>
                        <p>"Carl combines a strong knowledge of software and technical applications with a solid understanding 
                        of business needs, which in my experience is a rare combination. His ability to process the needs of a project 
                        and create or modify complex technical systems to meet those requirements has been a huge asset."</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.innovationpavilion.com/"><i class="fa fa-globe"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/InnovationPavilion/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.customcavesco.com">
                        <%= image_tag "logos/CustomCaves.png", class: 'img-responsive img-centered' %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.mensvitalitycenter.com">
                        <%= image_tag "logos/mvc.png", class: 'img-responsive img-centered' %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.chipotle.com">
                        <%= image_tag "logos/chipotle.png", class: 'img-responsive img-centered' %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.innovationpavilion.com">
                        <%= image_tag "logos/ip.png", class: 'img-responsive img-centered-ip' %>
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    <!-- Contact Section -->
    <section id="contact">
        <%= render 'contact' %>
    </section>

    <!--Footer Section-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/carl.truong.5"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://github.com/CarlsBad505"><i class="fa fa-github-alt"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/carltruong"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Blog (Coming Soon!)</a>
                        </li>
                        <!--<li><a href="#">Terms of Use</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>MicroPosts</h2>
                            <p class="item-intro text-muted">A simple social media site where users can comment and post.</p>
                            <%= image_tag "portfolio/roundicons-free.png", class: 'img-responsive img-centered' %>
                            <p>
                              This application built in Ruby on Rails is a replica of the popular Reddit forum site. Users can sign up for a free account and immediately create posts,
                              comment on posts, tag posts as various subjects, and view topics. Want to keep your discussions private? No problem, this application has custom authentication
                              and authorization methodoloy backed by TDD with Rspec. Feel free to check out the source code by clicking the github icon below!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>October 2015</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>RoR, Bootstrap, HTML, CSS, Javascript, jQuery</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            <a href="https://github.com/CarlsBad505/bloccit"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Blocmetrics</h2>
                            <p class="item-intro text-muted">A simple API used to track metrics and activity on your website.</p>
                            <%= image_tag "portfolio/startup-framework-preview.png", class: "img-responsive img-centered" %>
                            <p>
                              Together with chartkick, Blocmetrics displays beautiful and informative data regarding the performance of your website whether that be
                              user sign ups, resource creations, etc. First sign up for a free account, then add your website to the list of your applications. Next, follow the
                              README.md instructions using a simple javascript snippet or jQuery to track events! If you prefer, feel free to fork the repo
                              directly from github and host the application yourself!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>November 2015</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>RoR, Bootstrap, HTML, CSS, Javascript, JSON</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            <a href="https://github.com/CarlsBad505/blocmetrics"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>BlocItOff</h2>
                            <p class="item-intro text-muted">A self destructing to-do list, preventing your list from piling up.</p>
                            <%= image_tag "portfolio/treehouse-preview.png", class: 'img-responsive img-centered' %> 
                            <p>
                              BlocitOff is unlike any other to-do list that exists today. By using rake automation, this application will permanently delete user tasks after 7 days,
                              forcing the user to take active accountability and list short term objectives. This simple, yet powerful application uses ajax to quickly display
                              changes and updates to your list. Checkout the source code by clicking the github icon below!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>November 2015</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>RoR, Bootstrap, HTML, CSS, Ajax</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            <a href="https://github.com/CarlsBad505/blocitoff"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>JamSess</h2>
                            <p class="item-intro text-muted">A unique music player (Coming Soon)!</p>
                            <%= image_tag "portfolio/golden-preview.png", class: 'img-responsive img-centered' %>
                            <p>
                              This project is slated to begin in January and finish up by February 2016. Check back later for more!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>Coming February 2016</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>Angular, Javascript</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Chat Room</h2>
                            <p class="item-intro text-muted">A convenient live chat application (Coming Soon)!</p>
                            <%= image_tag "portfolio/escape-preview.png", class: 'img-responsive img-centered' %>
                            <p>
                              This project is slated to begin in March and finish up by end of March 2016. Check back later for more!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>Coming March 2016</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>Angular, Javascript</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Pong</h2>
                            <p class="item-intro text-muted">An iconic classic recreated (Coming Soon)!</p>
                            <%= image_tag "portfolio/dreams-preview.png", class: 'img-responsive img-centered' %>
                            <p>
                              This project is slated to begin in March and finish up by end of March 2016. Check back later for more!
                            </p>
                            <ul class="list-inline">
                                <li><strong>Date: </strong>Coming March 2016</li>
                                <li><strong>Authors: </strong>Carl Truong</li>
                                <li><strong>Tools: </strong>Javascript</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!--<script src="js/classie.js"></script>-->
    <!--<script src="js/cbpAnimatedHeader.js"></script>-->

    <!-- Contact Form JavaScript -->
    <!--<script src="js/jqBootstrapValidation.js"></script>-->
    <!--<script src="js/contact_me.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <!--<script src="js/agency.js"></script>-->

</body>

</html>
